# Public folder
public/

# Exclude the nextjs/public/
!nextjs/public/

# Miscellaneous
.cache/
temp/
_posts_not_published/
assets/themes/fellipecom/css/
yarn-error.log
.DS_Store
.env

# IDE-specific files
.vscode

# testing
/coverage

# Local vercel folder
.vercel

# Next.js build files
/.next

# Serverless build output
/serverless

# Dependency folders
/node_modules
/.pnp
.pnp.js

# Environment variables
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Build artifacts
/out
/.next
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
