RewriteEngine on
RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)([^/])$        /$1$2/ [L,R=301]

RewriteRule blog/(.*)/$ /blog/$1/index.html
RewriteRule ^(.*)/$ /$1/index.html [L]

ErrorDocument 404 /404.html

# bloquear diretorios
DirectoryIndex index.php index.htm index.html
Options -Indexes

#redirects
redirect 301 /palestras/ http://fellipe.com/talks/

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

# -------------------------------------------------------------------------------------------------
# Browser Caching: http://code.google.com/speed/page-speed/docs/caching.html#LeverageBrowserCaching
#
# Google recommends specifying the following for all cacheable resources:
#
#    1. Expires or Cache-Control max-age
#
#   Set Expires to a minimum of one month, and preferably up to one year, in the future. (We
#   prefer Expires over Cache-Control: max-age because it is is more widely supported.) Do not
#   set it to more than one year in the future, as that violates the RFC guidelines.
#
#    2. Last-Modified or ETag
#
#   Set the Last-Modified date to the last time the resource was changed. If the Last-Modified
# date is sufficiently far enough in the past, chances are the browser won't refetch it.
#
# Per Google: "it is redundant to specify both Expires and Cache-Control: max-age, or to specify
# both Last-Modified and ETag."
# --------------------------------------------------------------------------------------------------
<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType application/json      "access plus 1 year"
  ExpiresByType application/pdf     "access plus 1 year"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
  ExpiresByType image/bmp       "access plus 1 year"
  ExpiresByType image/gif       "access plus 1 year"
  ExpiresByType image/jpeg      "access plus 1 year"
  ExpiresByType image/png       "access plus 1 year"
  ExpiresByType image/svg+xml       "access plus 1 year"
  ExpiresByType image/tiff      "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon    "access plus 1 year"
  ExpiresByType image/x-icon      "access plus 1 year"
  ExpiresByType text/css        "access plus 1 year"
  ExpiresByType video/x-flv       "access plus 1 year"
  ExpiresByType application/vnd.bw-fontobject "access plus 1 year"
  ExpiresByType application/x-font-ttf    "access plus 1 year"
  ExpiresByType application/font-woff   "access plus 1 year"
  ExpiresByType application/x-font-woff   "access plus 1 year"
  ExpiresByType font/opentype     "access plus 1 year"
  ExpiresByType image/webp      "access plus 1 year"

  # The following MIME types are in the process of registration
  ExpiresByType application/xslt+xml    "access plus 1 year"
  ExpiresByType image/svg+xml     "access plus 1 year"

  # The following MIME types are NOT registered
  ExpiresByType application/mathml+xml    "access plus 1 year"
  ExpiresByType application/rss+xml   "access plus 1 year"

  # JavaScript has various MIME types
  ExpiresByType application/x-javascript    "access plus 1 year"
  ExpiresByType application/javascript    "access plus 1 year"
  ExpiresByType text/ecmascript       "access plus 1 year"
  ExpiresByType text/javascript       "access plus 1 year"
</IfModule>

# TODO: Set Last-Modified per Google's recommendation to complete browser caching

# -------------------------------------------------------------------------
# Disabling ETags as they are most likely misconfigured and
# do not add functionalit beyond Last-Modified
# -------------------------------------------------------------------------
<IfModule mod_headers.c>
  # Try removing etag headers (if it's coming from proxy for example)
  Header unset ETag
</IfModule>

# Remove ETags
FileETag None

# --------------------------------------------------------------------------------------
# Specify a character set:
# https://developers.google.com/speed/docs/best-practices/rendering#SpecifyCharsetEarly
# --------------------------------------------------------------------------------------
AddCharset UTF-8 .html