---
layout: default
---
{% include JB/setup %}
{% include themes/fellipecom/nav.html %}

<header class="aboutme">
    <h2 class="name">
        <span class="hi">:(</span><br>
        page doesn't exist
    </h2>
</header>

<ul class="button-list">
    <li class="button-list-item">
        <a href="{{ BASE_PATH }}blog/" class="button icon-rss">blog</a>
    </li>
    <li class="button-list-item">
        <a href="{{ BASE_PATH }}talks/" class="button icon-bullhorn">
            <span class="label">talks</span>
        </a>
    </li>
    <li class="button-list-item">
        <a href="{{ BASE_PATH }}projects/" class="button icon-bullhorn">
            <span class="label">projects</span>
        </a>
    </li>
    <li class="button-list-item">
        <a href="https://github.com/davidsonfellipe" class="button icon-github">
            <span class="label">github</span>
        </a>
    </li>
    <li class="button-list-item">
        <a href="http://www.linkedin.com/in/fellipe" class="button icon-linkedin-sign">
            <span class="label">linkedin</span>
        </a>
    </li>
    <li class="button-list-item">
        <a href="https://www.facebook.com/fellipe" class="button icon-facebook-sign">
            <span class="label">facebook</span>
        </a>
    </li>
    <li class="button-list-item">
        <a href="https://twitter.com/davidsonfellipe" class="button icon-twitter-sign">
            <span class="label">twitter</span>
        </a>
    </li>
</ul>
