---
layout: page
title: About me
permalink: /about/
header: Pages
group: navigation
---
{% include JB/setup %}
{% include themes/fellipecom/nav.html %}

<article class="post-content">
  <h2>Currently</h2>
  <p>
    I'm a Front-end Engineer at Globo.com and Master degree candidate at PUC-Rio, Co-chair of conferences: Front in BH, Front in Maceió, PernambucoJS and RioJS.
  </p>

  <h2>Main skills</h2>
  <p>JavaScript, Performance, Community Engagement, HTML, CSS, Git, CSS Preprocessors, Cross Browser Development, SEO.
  </p>

  <h2>JavaScript User Groups &amp; Conferences</h2>
  <dl>
    <dt>Front in BH</dt>
    <dd>In last edition, we had over 320 people registered, so one of the biggest Frontend conferences on Brazil! It was a lot of fun and the program rocked.</dd>
    <dt>Rio.JS</dt>
    <dd>In first edition, we had over 250 people registered, Rio.JS is the biggest JavaScript User Groups in Latin America!</dd>
    <dt>Pernambuco.JS</dt>
    <dd>In first edition, we had over 220 people registered, Pernambuco.JS is the second JavaScript User Groups in Brazil!</dd>
    <dt>Front in Maceió</dt>
    <dd>In first edition, we had over 200 people registered!</dd>
  </dl>

  <h2>Press</h2>
  <ul>
    <li>I made some comments about Frameworks CSS. iMasters Magazine. January 2013.</li>
    <li>Article about "For two years the Brazilian companies not demonstrated much interest in this frontend developers, when there was already a strong demand out of Brazil. That changed?". Wide Magazine. July 2012.</li>
  </ul>

  <h2>Academic</h2>
  <ul>
    <li>MSc student in Computer science at PUC-Rio.</li>
    <li>Computer Engineer from the University of pernambuco.</li>
    <li>Electronics technician from Federal Institute of Pernambuco.</li>
  </ul>

  <h2>Past</h2>
  <ul>
    <li>BrazilJS Weekly Publisher</li>
    <li>Web technologies study group Lead at University of pernambuco.</li>
    <li>Professor of Web Development (JavaScript, HTML, CSS, SEO).</li>
  </ul>

</article>