body {
    background: url(../img/debut_light.png) #f7f7f7;
    color: rgba(0, 0, 0, 0.8);
    font-family: Georgia;
    font-size: 15px;
}

body:before {
    content: "";
    height: 10px;
    left: 0;
    position: fixed;
    top: -10px;
    width: 100%;

    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    z-index: 100;
}

.container {
    margin: auto;
    position: relative;
    padding-top: 70px;
    width: 960px;

    &.container-media {
        width: 100%;
    }
}