$color-items: #eee;
$color-bg: #333;

.nav {
    background-color: $color-bg;
    background-image: linear-gradient(to bottom, #222222, #111111);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    left: 0;
    padding: 10px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10;

    .masterhead {
        float: left;
        line-height: 40px;
    }

    .nav-lists {
        float: right;
        padding-right: 20px;
    }

    .itens {
        display: inline-block;

        li{
            display: inline-block;
            *display: inline;
            zoom: 1;
            margin-left: 10px;
        }
    }

    a {
        color: rgba(255, 255, 255, .8);
    }

    .social {
        border-left: 1px solid darken($color-items, 50);
        margin-left: 15px;
        padding-left: 15px;
    }
    .button{
        background-color: $color-bg;
        font-size: 16px;
        margin: 0 10px 0 0;
        padding: 10px 0 10px 0;
        cursor: pointer;
        text-align: left;

        &:before{
            color: $color-items;
            text-indent: -10px;
            top: 0;
        }

        &:hover {
            border-left-color: transparent;
        }
    }
}