
/* years */
#years{
    position: fixed;
    right: -100px;
    top:100px;
    z-index: 9999;
}
.years {
    width: 40px;
    float: left;
    margin-right: 10px;
}
.years .items{
    background: #ccc;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    border-radius: 50%;
    display: block;
    text-align:center;
    cursor: pointer;

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#years .years .items:hover,
.years .highlight {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #C30;
}
.indicator{
    cursor: pointer;
    display: block;
    font-family: Ubuntu;
    margin: -10px 0 0 -35px;
    animation:movement 1.5s infinite;
    -moz-animation:movement 1.5s infinite; /* Firefox */
    -webkit-animation:movement 1.5s infinite; /* Safari and Chrome */

    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);

    position: absolute;
    top: 570px;
    left: 50%;
}
.indicator .note{
    color: #333;
    display:block;
    width: 90px;
    height: 55px;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 16px;
}
.indicator .arrow{
    background: url("../images/arrows.png") no-repeat 0  10px;
    display: block;
    font-size: 40px;
    font-weight: normal;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 90px;
    height: 50px;
}

@keyframes movement
{
    0% {margin-top:-10px;}
    50% {margin-top:0px;}
    100% {margin-top:-10px;}
}

@-moz-keyframes movement /* Firefox */
{
    0% {margin-top:-10px;}
    50% {margin-top:0px;}
    100% {margin-top:-10px;}
}

@-webkit-keyframes movement /* Safari and Chrome */
{
    0% {margin-top:-10px;}
    50% {margin-top:0px;}
    100% {margin-top:-10px;}
}

.filters-box {
    width: 888px;
    position: relative;
    margin: 80px auto 0;
}
/*filters*/
.filters {
    right: 0px;
    margin: auto;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 100;
}
.filters li{
    display: inline-block;
}
.filters-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    padding: 10px;
    display: none;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    text-align: center;
    z-index: 10000;
}
.filters-fixed .button {
    background-color: #333;
}
.filters-fixed:before {
    content: "Davidson Fellipe";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}
/*timeline*/
.timeline{
    background: url("../images/ul.jpg") repeat-y scroll 0 0 transparent;
    /*background-color: #ccc;*/
    clear: both;
    padding-bottom: 50px;
    position: relative;
    text-align: left;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.timeline ul{
}
.timeline .event-group{
    position: relative;
}
.timeline .line{
    display: block;
    padding: 12px 10px 10px 18px;
}
.timeline .title{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-family: Ubuntu;
    text-transform: uppercase;
}
.timeline .description{
    padding-right: 10px;
    border-top: 1px solid #DEDEDE;
    border-radius: 0;
    color: #333;
    font-size: 12px;
    width: 830px;
    background: transparent;
    padding: 10px 10px 10px 20px;
    font-family: Georgia;
}
.type{
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 50% 50% 50% 50%;
    height: 20px;
    left: -14px;
    padding: 5px;
    position: absolute;
    width: 20px;
    z-index: 2000;
    top: 50%;
    margin-top: -16px;
    /*box-shadow: 2px 2px 2px #CCCCCC;*/
}


.timeline data{
    color: #fff;
    display: block;
    /*border-radius: 5px 0 0 5px;*/
    width: 50px;
    font-size: 10px;
    text-transform: lowercase;
    background-color: #AAA;
    top: 6px;
    right: 0;
    position: absolute;
    text-align: center;
    padding: 3px;
}
.timeline .type.work{
    background-image: url("../images/work.png");
}
.timeline .type.school{
    background-image: url("../images/school.png");
}
.timeline .type.born{
    background-image: url("../images/born.png");
}
.timeline .type.groups{
    background-image: url("../images/group.png");
}
.timeline .type.location{
    background-image: url("../images/location.png");
}
.timeline .event{
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    margin: 15px 20px 15px 8px;
    text-align: left;
    width: 870px;
    text-transform: lowercase;
    position: relative;
    overflow: hidden;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

    background-size: 23px 23px;
    background-color: #eee;
}

.timeline .year:first-child{
    margin-top: 0;
}
.timeline .year{
    background: url("../images/ul.jpg") repeat scroll 0 0 transparent;
    color: black;
    display: inline-block;
    margin: 30px 0 30px 8px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    border: 5px solid #ddd;
    border-left: 0;
}
.timeline .year .number{
    background-color: #f9f9f9;
    border-radius: 5px 0;
    color: #000;
    display: inline-block;
    font-weight: bold;
    /*font-family: 'Ubuntu';*/
    font-size: 40px;
    padding: 10px;
    opacity: .75;
    -moz-opacity: .75;
    filter:alpha(opacity=75);
}
.timeline .year:first-child .number{
    margin-top: 0;
}
.timeline .more{
/*    position: absolute;
    right: 7px;
    bottom: 10px;
    z-index: 10;
    font-size: 12px;
    padding-right: 10px;
    padding: 5px;
    background-color: #DEDEDE;
*/
/*    -webkit-transition: background 0.6s linear;
    -moz-transition: background 0.6s linear;
    -o-transition: background 0.6s linear;
    -ms-transition: background 0.6s linear;
    transition: background 0.6s linear;

*/
/*     background-color: #999;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding: 10px 20px 10px 30px;
    color: #eee;
    cursor: pointer;
    text-align: left;
    -webkit-transition: background 0.6s linear;
    -moz-transition: background 0.6s linear;
    -o-transition: background 0.6s linear;
    -ms-transition: background 0.6s linear;
    transition: background 0.6s linear;
*/
    font-size: 12px;
    padding-right: 10px;
    border-top: 1px solid #DEDEDE;
    display: block;
    border-radius: 0;
    color: #333;
    margin: 16px 0 -20px -20px;
    width: 840px;
    background: transparent;
    text-align: right;
    padding: 10px;
}
.timeline .more:hover{
    background-color: #C30;
    /*color: #fff;*/
}
/*.timeline .event:hover .more{
    bottom: 0;
}*/


.footer{
    clear: both;
    /*height: 700px;*/
    padding-bottom: 50px;
    width: 100%;
    background-color: #000;
    background: url(../images/page_bg.jpg);
    text-align: center;
    position: relative;
}

.footer:before {
    height: 50px;
    width: 100px;
    display: block;
    background-color: #C30;
    position: absolute;
    top: 0;
    left: 0;
}
.footer .button-list{
    padding-top: 50px;
    margin-bottom: 0;
}
.footer .message{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    padding-top: 80px;
}
.footer .field{
    background-color: transparent;
    border-radius: 4px;
    display: block;
    padding: 10px;
    margin: 30px auto;
    width: 600px;
    font-size: 1.5em;

    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(50,50,50, 1);
}

.footer .field:focus {
    box-shadow: 0 0 5px rgba(150, 150, 150, 1);
    -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0 0 5px rgba(150, 150, 150, 1);
    border:1px solid rgba(150, 150, 150, 1);
}

/* Gallery */
.gallery {
    overflow: hidden;
    width: 600px;
    margin: 20px auto;
}
.gallery figure {
    float: left;
    margin: 0 auto;
    padding: 0;
    position: relative;
    -webkit-perspective: 1000;
    -webkit-transition: all 1s ease;
}
.gallery a {
    text-decoration: none;
}
.gallery img {
    background: #111;
    display: block;
    height: 200px;
    width: 600px;
    -webkit-box-shadow: 0 5px 15px -5px hsla(0,0%,0%,.5);
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: 50% 100%;
    -webkit-transition: all 1s ease;
}
.gallery figcaption {
    background: #000;
    color: #f6f6f6;
    display: block;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 600px;
    z-index: -1;
    -webkit-box-shadow: 0 0 0 0 hsla(0,0%,0%,0);
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: all 1s ease;
}
.gallery h3 {
    font: bold 1.25em/1 sans-serif;
    margin-bottom: 1em;
}
.gallery figure:hover {
    -webkit-transform: translate(0, -150px);
}
.gallery figure:hover img {
    -webkit-box-shadow: 0 0 0 0 hsla(0,0%,0%,0);
    -webkit-transform: rotateX(90deg);
}
.gallery figure:hover figcaption {
    background: #111;
    -webkit-box-shadow: 0 30px 15px -20px hsla(0,0%,0%,.5);
    -webkit-transform: rotateX(0deg);
}

/* Small */

.small-gallery figure {
    height: 160px;
    -webkit-perspective-origin: 50% 25%;
}
.small-gallery figure img {
    height: 160px;
    width: 220px;
}
.small-gallery figure figcaption {
    height: 100px;
    width: 200px;
}
.small-gallery figure:hover {
    -webkit-transform: translate(0, -130px);
}