body {
	background:#000 !important;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.slides > article {
	border: 1px solid #000 !important;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #333;
}
h4 {
	font-size: 38px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 800;
	color: #333;
}
h5 {
	margin-top: -35px;
	text-align: right;
	font-style: italic;
}

article {
	background-color: #eee !important;
}
.center {
	text-align: center;
}

/* backgrounds */
.abertura {
	background: url("../i/abertura.jpg") no-repeat scroll center center transparent !important;
}
.conf {
	background: url("../i/sf.jpg") no-repeat scroll 0 0 transparent !important;
}
.top10 {
	background: url("../i/top10.png") no-repeat scroll 0 0 transparent !important;
}
.pensando {
	background: url("../i/pensando.jpg") no-repeat scroll 0 0 transparent !important;
}
.palco {
	background: url("../i/palco.jpg") no-repeat scroll 0 0 transparent !important;
}
.yoda {
	background: url("../i/yoda.jpg") no-repeat scroll 0 0 transparent !important;
}
.chimarrao {
	background: url("../i/chimarrao.jpg") no-repeat scroll 0 0 transparent !important;
}
.clipboard {
	background: url("../i/clipboard_com.png") no-repeat scroll 0 0 transparent !important;
}

.car {
	background: url("../i/car.jpg") no-repeat scroll 0 0 transparent !important;
}
.kindle {
	background: url("../i/kindle2.jpg") no-repeat scroll 0 0 transparent !important;
}
.car {
	background: url("../i/car.jpg") no-repeat scroll 0 0 transparent !important;
}
.girl {
	background: url("../i/girl.jpg") no-repeat scroll 0 0 transparent !important;
}
.compress {
	background: url("../i/compress.jpg") no-repeat scroll 0 0 transparent !important;
}
.yui-compressor {
	background: url("../i/yui-compressor.png") no-repeat scroll 0 0 transparent !important;
}
.futpedia-site {
	background: url("../i/futpedia.png") no-repeat scroll 0 0 transparent !important;
}
.semaforo {
	background: url("../i/semaforo.jpg") no-repeat scroll 0 0 transparent !important;
}
.transito {
	background: url("../i/transito1.jpg") no-repeat scroll 0 0 transparent !important;
}
.hulk {
	background: url("../i/hulk.jpg") no-repeat scroll 0 0 transparent !important;
}
.old-pc {
	background: url("../i/old-pc.jpg") no-repeat scroll 0 0 transparent !important;
}
.new-pc {
	background: url("../i/new-pc.jpg") no-repeat scroll center center transparent !important;
}
.social-buttons {
	background: url("../i/social-buttons.jpg") no-repeat scroll 0 0 transparent !important;
	/*http://www.flickr.com/photos/nadiaoliveira/1471101788/*/
}
.chrome-frame {
	background: url("../i/chrome-frame.png") no-repeat scroll 0 0 transparent !important;
}
.futpedia {
	background: url("../i/futpedia.jpg") no-repeat scroll 0 0 transparent !important;
}
.socialite {
	background: url("../i/socialite.png") no-repeat scroll 0 0 transparent !important;
}
.bat {
	background: url("../i/bat.jpg") no-repeat scroll center center transparent !important;
}
.multimetro {
	background: url("../i/multimetro.png") no-repeat scroll center center transparent !important;
}
.web-page-1 {
	background: url("../i/web-page-1.png") no-repeat scroll center center transparent !important;
}
.web-page-2 {
	background: url("../i/web-page-2.png") no-repeat scroll center center transparent !important;
}
.web-page-3 {
	background: url("../i/web-page-3.png") no-repeat scroll center center transparent !important;
}
.yslow {
	background: url("../i/yslow.png") no-repeat scroll center center transparent !important;
}
.page-speed {
	background: url("../i/pagespeed.png") no-repeat scroll center center transparent !important;
}
.jslitmus {
	background: url("../i/jslitmus.png") no-repeat scroll center center transparent !important;
}
.repaint {
	background: url("../i/repaint.jpg") no-repeat scroll center center transparent !important;
}
.reflow {
	background: url("../i/reflow.jpg") no-repeat scroll center center transparent !important;
}

.bgdark {
	background: -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
				-webkit-linear-gradient(#111 25%, transparent 50%, transparent 75%, #151515 75%, #111);
	background-color: #131313 !important;
	background-size: 20px 20px !important;
	color: #1197A0 !important;
}

.black-highlight {
	background-color: #111 !important;
	color: #fff;
	width: 800px;
	opacity: .9;
	padding: 15px 35px 20px 35px;
	margin-top: 0px;
}
.white-highlight {
	/*background-color: #fff !important;*/
	color: #111;
	width: 800px;
	opacity: .9;
	padding: 15px 35px 20px 0;
	margin-top: 0px;
}
.loading {
	margin: 100px auto;
	display: block;
}
.subtitle {
	display: block;
	font-size: 0.45em;
	letter-spacing: -0.05em;
}
.subtitle:before {
	content: "#"
}
.no-before:before {
	content: ""
}
.abertura .author {
	font-size: 0.5em;
	display: block;
}
.about-me h1 {
	margin-left: 180px;
	margin-bottom: 0px;
	margin-top: 100px;
}
.about-me ul {
	margin-top: 90px;
}
.about-me .photo {
	position: absolute;
	top: 100px;
	left: 40px;
}
.about-me a {
	text-decoration: none;
	color: #999;
}
.about-me a:hover {
	color: #fff;
}
.obrigado h1 {
	margin-top: 50px;
	font-size: 2.5em;
	line-height: 1.1em;
}
.obrigado span {
	font-weight: 300;
}
.obrigado .lista-jovem {
	font-size: 0.8em;
}
.obrigado .lista-jovem li {
	width: 500px;
}
/*.about-me a {*/
.lista-jovem li {
	background-color: #111	 !important;
	color: #dedede !important;
	margin-left: -85px;
	width: 90%;
	padding: 20px 20px 20px 70px;
	/*border-radius: 5px;*/
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}
.lista-jovem li:before {
	list-style: none !important;
	content: '' !important;
}
.lista-jovem a {
	color: #fff;
	text-decoration: none;
}
.lista-jovem a:hover {
	text-decoration: underline;
}

.social-wgt {
	position: fixed;
	top: 20px;
	right: 0;
	z-index: 100;
	width: 250px;
	height: 19px;
	overflow: hidden;
}
