<nav class="nav">
    <a class="masterhead" href="{{ BASE_PATH }}">Davidson Fellipe</a>

    <section class="nav-lists">
        <ul class="itens">
            <li class="link">
                <a href="{{ BASE_PATH }}blog/">blog</a>
            </li>
            <li class="link">
                <a href="{{ BASE_PATH }}talks/">talks</a>
            </li>
            <li class="link">
                <a href="{{ BASE_PATH }}projects/">projects</a>
            </li>
            <li class="link">
                <a href="{{ BASE_PATH }}about/">about</a>
            </li>
        </ul>
        <ul class="itens social">
            <li class="button-list-item">
                <a href="https://github.com/davidsonfellipe" class="button icon-github">
                </a>
            </li>
            <li class="button-list-item">
                <a href="http://www.linkedin.com/in/fellipe" class="button icon-linkedin-sign">
                </a>
            </li>
            <li class="button-list-item">
                <a href="https://www.facebook.com/fellipe" class="button icon-facebook-sign">
                </a>
            </li>
            <li class="button-list-item">
                <a href="https://twitter.com/davidsonfellipe" class="button icon-twitter-sign">
                </a>
            </li>
        </ul>
    </section>
</nav>