{% include themes/fellipecom/nav.html %}

<h1 class="title">
  {{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}
</h1>

<!--
<div class="date">
  <span>{{ page.date | date_to_long_string }}</strong>
</div> -->

<article class="post-content">
  {{ content }}
</article>

<!-- {% unless page.categories == empty %}
<ul class="tag_box inline">
  <li><i class="icon-folder-open"></i></li>
  {% assign categories_list = page.categories %}
  {% include JB/categories_list %}
</ul>
{% endunless %}
 -->
<!-- {% unless page.tags == empty %}
<ul class="tag_box inline">
  <li><i class="icon-tags"></i></li>
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
</ul>
{% endunless %} -->

<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="button prev">
      <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a>
    </li>
  {% else %}
    <li class="button prev disabled">
      <a>&larr; Previous</a>
    </li>
  {% endif %}
    <!-- <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li> -->
  {% if page.next %}
    <li class="button next">
      <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a>
    </li>
  {% else %}
    <li class="button next disabled">
      <a>Next &rarr;</a>
    </li>
  {% endif %}
  </ul>
</div>
{% include JB/comments %}